<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guess Results</title>
</head>
<body>
    <h1>Welcome to My Website</h1>
    
    <h2>Hey {{ person_name.title() }},</h2>
    <p>I think you are <strong>{{ gender }}</strong>.</p>
    <p>And I think you are <strong>{{ age }}</strong> years old.</p>
    
    <hr>
    
    <h2>The product of 5 and 6 is {{ 5 * 6 }}.</h2>
    <h3>Random Number: {{ number }}</h3>
</body>
<footer>
    <p>Copyright {{ year }}. Built by Anamika Singh at the LayersIQ.</p>
</footer>
</html>